/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 0;
    padding-bottom: 20px;
    background:#f5f5f5;
}
.menu {
    margin-bottom:50px;
}
.contenedor {
    padding-top: 20px;
}
.nav-color {
    background: #0EB752;
    color:#fff;
}
    .nav-color a {
    color:#fff;
    }
.btn-white {
    color:#fff;
}
.listTable {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.listTable-head {
    background: #435D7D;
    padding: 7px 20px;
    color: #fff;
    font-size: 1.5em;
    margin-bottom: 10px;
    border-radius: 5px 5px 0 0;
}
.listTable-body {
    padding-bottom:20px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
